@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    background-color: #f5f7ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 800vh;
    min-width: 280px;
}

/* navigation bar */
nav{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
    min-width: 280px;
}
nav .nav-content{
    width: 100%;
    max-width: 2000px;
    height: 100%;
    padding:0 5%;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    background-color: #09102D;
}
/* navigation bar logo */
nav .nav-content .logo{
    display: flex;
    color: white;
    align-items: flex-end;
    height: 100%;
    padding:20px 0;
    margin-left: 4%;
    cursor: pointer;
}
nav .nav-content .logo img{
    height: 30px;
    margin-right: 10px;
}
nav .nav-content .logo p{
    font-family: 'poppins' , sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
nav .nav-content .logo p span{
    font-weight: 600;
    font-size: 1rem;
}
/* navigation bar links */
nav .nav-content .navlink{
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}
nav .nav-content .navlink .links{
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
}
nav .nav-content .navlink ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-content .navlink ul li{
    list-style: none;
    
}
nav .nav-content .navlink ul li a{
    color: white;
    text-decoration: none; 
    font-family: 'Raleway' , sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 7px;
    font-size: 1rem;
    
}
nav .nav-content .navlink ul li a:hover{
    color: #0098FF; 
}
nav .nav-content .navlink ul li a.active{
    color: #0098FF;
}
/* navigation button */
nav .nav-content  .navbtn{
    width: 38px;
    height: 100;
    display: flex;
    align-items: flex-end;
    padding-bottom: 23px;
    margin-right: 4%;
    display: none;
}
nav .nav-content  .navbtn .btnbox{
    width: 100%;
    height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
nav .nav-content  .navbtn .btnbox .btn{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}
nav .nav-content  .navbtn .btnbox .btntwo{
    background-color: #2cabff;
    transform: translateX(-0px);
}

/* navigation bar mail */
nav .nav-content .mail{
    display: flex;
    align-items: flex-end;
    padding:20px 0;
}
nav .nav-content .mail .txt-mail{
   color: #0098FF;
   font-family: 'Raleway' , sans-serif  ;
   font-weight: 300;
   letter-spacing: -0.5px;
   cursor: pointer;
   font-size: 1rem;
   
}
nav .nav-content .mail .txt-mail::selection{
    background-color: black;
 }
 nav .nav-content .mail .txt-mail::-moz-selection {
    background-color: black;
}
@media screen and (max-width:1200px){
    nav .nav-content .navlink{
        justify-content: space-between;
        width: 60%;
    }
}
@media screen and (max-width:1000px){
    nav .nav-content .navlink{
        display: none;
    }
    nav .nav-content  .navbtn{
        display:flex;
    }
}
@media screen and (max-width:500px){
    nav .nav-content  .navbtn{
        width: 30px;
        padding-bottom: 22px;
    }
    nav{
        height: 70px;
    }
}
@media screen and (max-width:400px){
    nav .nav-content .logo img{
        height: 24px;
        margin-right: 7px;
    }
    nav .nav-content .logo{
        margin-left: 1%;
    }
    nav .nav-content .logo p{
        font-family: 'poppins' , sans-serif;
        font-weight: 200;
        font-size: 0.9rem;
        letter-spacing: 0px;
    }
    nav .nav-content .logo p span{
        font-weight: 500;
        font-size: .9rem;
    }
    nav .nav-content  .navbtn{
        margin-right: 1%;
        
    }
}
@media screen and (max-width:320px){
    nav .nav-content .logo img{
        height: 22px;
        margin-right: 7px;
    }
    nav .nav-content .logo{
        margin-left: 0%;
    }
    nav .nav-content .logo p{
        font-family: 'poppins' , sans-serif;
        font-weight: 200;
        font-size: 0.75rem;
        letter-spacing: 0px;
    }
    nav .nav-content .logo p span{
        font-weight: 500;
        font-size: .75rem;
    }
    nav .nav-content  .navbtn{
        margin-right: 0%;
        
    }
    nav .nav-content  .navbtn{
        width: 26px;
        
    }
    nav .nav-content  .navbtn .btnbox{
        height: 16px;
    }
    nav .nav-content  .navbtn .btnbox .btn{
        height: 1.5px;
    }
}




/* ----------------------------------------------------------- HOME
-------------------------------------------------------------- HOME
-------------------------------------------------------------- */
/* home section styling */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #09102D;
    max-height: 800px;
    min-height: 700px;
    max-width: 2000px;
    overflow: hidden;
}
.home .home-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-left: 4%;
    padding-right:4%;
}
/* home right side */
.home .home-container .right-side{
    position: absolute;
    top: 170px;
    left: 10vw;
    z-index: 2;
}
.home .home-container .right-side p{
    color: #f1f4ff;
    font-size: 5rem;
    font-family: 'poppins' , sans-serif;
    font-weight: 700;
    text-shadow: -2px 2px 2px #000000a4,-5px 5px 2px #000000a4 ,-8px 8px 4px #41414125;
}
.home .home-container .right-side p span{
    color: #0098FF;
}
/* home left side  */
.home .home-container .left-side{
}
.home .home-container .left-side .ddd-container{
    width: 50%;
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    perspective: 4000px;
    z-index: 1;
}
.home .home-container .left-side .ddd-container .first-groupe{
    
    position: absolute;
    height: 100vh;
    max-height: 700px;
    min-height: 400px;
    max-width: 500px;
    top: -50%;
    right: -10%;
    transform: rotateY(-30deg) rotateZ(10deg) rotateX(70deg);
    
}
.home .home-container .left-side .ddd-container .second-groupe{
    width: 250px;
    position: absolute;
    top: -20%;
    right: -25%;
    height: 100vh;
    max-height: 700px;
    min-height: 500px;
    transform: rotateY(-30deg) rotateZ(10deg) rotateX(70deg);
}
.home .home-container .left-side .ddd-container .card{
    width: 250px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 10px 10px 5px 2px #000000a4 ,15px 15px 10px 10px #41414125 ;
    animation: animate 30s ease-in infinite;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .home-container .left-side .ddd-container .card img{
    width: 100%;
    height: 100%;
}
.home .home-container .left-side .ddd-container .card-two{
    width: 250px;
    height: 350px;
    background-color: #a5a5a5;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 10px 10px 5px 2px #000000a4 ,15px 15px 10px 10px #41414125 ;
    animation: animate 30s ease-in infinite;
    animation-delay: 35s ;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .home-container .left-side .ddd-container .card-two img{
    width: 100%;
    height: 100%;

}
@keyframes animate {
    0%{
        transform: translateY(100px);
    }
    2%{
        transform: translateY(-200px);
    }
    12%{
        transform: translateY(-200px);
    }
    14%{
        transform: translateY(-500px);
    }
    25%{
        transform: translateY(-500px);
    }
    27%{
        transform: translateY(-800px);
    }
    38%{
        transform: translateY(-800px);
    }
    40%{
        transform: translateY(-1100px);
    }
    53%{
        transform: translateY(-1100px);
    }
    55%{
        transform: translateY(-800px);
    }
    67%{
        transform: translateY(-800px);
    }
    69%{
        transform: translateY(-500px);
    }
    82%{
        transform: translateY(-500px);
    }
    84%{
        transform: translateY(-200px);
    }
    96%{
        transform: translateY(-200px);
    }
    98%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(100px);
    }
}
/* all devices responsivity */
@media screen and (max-width:1200px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -30%;
        right: -0%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -10%;
        right: -25%;
    }
}
@media screen and (max-height:770px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -30%;
        right: -0%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -10%;
        right: -25%;
    }
}
@media screen and (max-height:650px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -40%;
        right: -20%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -20%;
        right: -45%;
    }
    .home .home-container .right-side{
        top: 130px;
        left: 10vw;
    }
    .home .home-container .right-side p{
        font-size: 4.5rem;
    }
}
@media screen and (max-height:1200px){
    .home .home-container .right-side{
        top: 200px;
        left: 5vw;
    }
}
@media screen and (max-width:1000px) and (max-height: 650px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -30%;
        right: -0%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -10%;
        right: -25%;
    }
}
@media screen and (max-width:1200px) and (max-height: 775px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -23%;
        right: -0%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -0%;
        right: -25%;
    }

}
@media screen and (max-width:1200px) and (max-height: 695px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -23%;
        right: -0%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -0%;
        right: -25%;
    }
    .home .home-container .right-side{
        top: 130px;
        left: 10vw;
    }
    .home .home-container .right-side p{
        font-size: 4.5rem;
    }
}
@media screen and (max-width:1000px) and (max-height: 655px){
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -20%;
        right: -10%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: 10%;
        right: -25%;
    }
    .home .home-container .right-side{
        top: 130px;
        left: 9vw;
    }
    .home .home-container .right-side p{
        font-size: 4.3rem;
    }
}
@media screen and (max-width:1030px){
    .home .home-container .left-side .ddd-container .card{
        width: 200px;
        height: 300px;
    }
    .home .home-container .left-side .ddd-container .card-two{
        width: 200px;
        height: 300px;  
    }
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -40%;
        right: -33%;
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -20%;
        right: -70%;
    }
    .home .home-container .right-side{
        top: 18vh;
        left: 5vw;
    }
    .home .home-container .right-side p{
        font-size: 3.8rem;
    }
}
@media screen and (max-width:840px){
    
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -20%;
        right: 10%;
        transform: rotateY(-35deg) rotateZ(15deg) rotateX(70deg);
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -15%;
        right: -70%;
        transform: rotateY(-35deg) rotateZ(15deg) rotateX(70deg);
    }
    .home .home-container .right-side{
        top: 16vh;
        left: 5vw;
    }
    .home .home-container .right-side p{
        font-size: 3.4rem;
    }
}
@media screen and (max-width:700px){
    .home .home-container .left-side .ddd-container .card{
        width: 170px;
        height: 240px;
    }
    .home .home-container .left-side .ddd-container .card-two{
        width: 170px;
        height: 240px;  
    }
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -12%;
        right: 10%;
        transform: rotateY(-35deg) rotateZ(15deg) rotateX(70deg);
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: -0%;
        right: -70%;
        transform: rotateY(-35deg) rotateZ(15deg) rotateX(70deg);
    }
    .home .home-container .right-side{
        top: 16vh;
        left: 5vw;
    }
    .home .home-container .right-side p{
        font-size: 3.4rem;
    }
}
@media screen and (max-width:550px){
    .home .home-container .left-side .ddd-container .card{
        width: 170px;
        height: 240px;
    }
    .home .home-container .left-side .ddd-container .card-two{
        width: 170px;
        height: 240px;  
    }
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -10%;
        right: 10%;
        transform: rotateY(-45deg) rotateZ(17deg) rotateX(60deg);
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: 5%;
        right: -70%;
        transform: rotateY(-45deg) rotateZ(17deg) rotateX(60deg);
    }
    .home .home-container .right-side{
        top: 18vh;
        left: 5vw;
    }
    .home .home-container .right-side p{
        font-size: 2.9rem;
    }
}
@media screen and (max-width:430px){
    .home .home-container .left-side .ddd-container .card{
        width: 170px;
        height: 240px;
    }
    .home .home-container .left-side .ddd-container .card-two{
        width: 170px;
        height: 240px;  
    }
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -15%;
        right: 10%;
        transform: rotateY(-45deg) rotateZ(17deg) rotateX(60deg);
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: 5%;
        right: -70%;
        transform: rotateY(-45deg) rotateZ(17deg) rotateX(60deg);
    }
    .home .home-container .right-side{
        top: 18vh;
        left: 5vw;
    }
    .home .home-container .right-side p{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:330px){
    .home .home-container .left-side .ddd-container .card{
        width: 140px;
        height: 200px;
    }
    .home .home-container .left-side .ddd-container .card-two{
        width: 140px;
        height: 200px;  
    }
    .home .home-container .left-side .ddd-container .first-groupe{
        top: -18%;
        right: -20%;
        transform: rotateY(-45deg) rotateZ(17deg) rotateX(60deg);
        
    }
    .home .home-container .left-side .ddd-container .second-groupe{
        top: 10%;
        right: -70%;
        transform: rotateY(-45deg) rotateZ(17deg) rotateX(60deg);
    }
    .home .home-container .right-side{
        top: 18vh;
        left: 5vw;
    }
    .home .home-container .right-side p{
        font-size: 2rem;
    }
}
@media screen and (min-height:1200px){
    .home .home-container .right-side{
        top: 250px;
    }
}




/* ----------------------------------------------------------- services
-------------------------------------------------------------- services
-------------------------------------------------------------- */
/* services section styling */
.services{
    position: relative;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    padding-top: 100px;
}
.services .services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.services .services-container .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    width: 100%;
    
}
.services .services-container .header p{
    font-size: 1.9rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;

}
.services .services-container .header p span{
    font-size: 2rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #2cabff;
}
.services .services-container .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 55px 4%;
    padding-bottom: 30px;
    
}
/*
.services .services-container .content .service-card{
    display: flex;
    flex-direction: column;
    background: rgb(9,16,45);
    background: linear-gradient(311deg, rgba(9,16,45,1) 72%, rgba(0,0,0,1) 100%);
    width: 300px;
    height: 230px;
    border-radius: 9px;
    padding: 18px 15px;
    align-items: flex-start;
    box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.475) ,-6px 6px 5px rgba(0, 0, 0, 0.32) ;
    margin: 0 16px;
    transition:all 0.3s ease;
}
.services .services-container .content .service-card:hover{
    box-shadow: -4px 6px 2px rgba(0, 0, 0, 0.475) 
                ,-8px 12px 5px rgba(0, 0, 0, 0.32) ,
                -12px 14px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px) translateX(3px);            
}
.services .services-container .content .service-card .cd-title{
    font-family: 'poppins' , sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0px;
    color: #2cabff;
    font-weight: 600;
}
.services .services-container .content .service-card .cd-title-line{
    width: 100px;
    height: 2px ;
    background-color: #2cabff00;
    margin-bottom: 10px;
}
.services .services-container .content .service-card .cd-txt{
    font-family: 'poppins' , sans-serif;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: white;
}
.services .services-container .content .service-card .cd-call-action{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.services .services-container .content .service-card .cd-call-action .cd-cta-txt{
    font-family: 'poppins' , sans-serif;
    font-weight: 500;
    margin-right: 7px;
    color: white;
    text-decoration: none;
}
.services .services-container .content .service-card .cd-call-action .cd-cta-line{
    width: 35px;
    height: 3px ;
    background-color: #2cabff;
    transition: all 0.4s ease;
    text-decoration: none;
}
.services .services-container .content .service-card .cd-call-action:hover  .cd-cta-line{
    width: 70px;
    
}
*/.services .services-container .content .service-card{
    display: flex;
    flex-direction: column;
    background: rgba(9, 16, 45, 0);
    width: 300px;
    height: 230px;
    border-radius: 9px;
    padding: 18px 15px;
    align-items: flex-start;
    border: 1px solid #09102D;
    margin: 16px 16px;
    transition:all 0.3s ease;
}
.services .services-container .content .service-card:hover{
    
    transform: translateY(-2px) translateX(0px);            
}
.services .services-container .content .service-card .cd-title{
    font-family: 'poppins' , sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0px;
    color: #2cabff;
    font-weight: 600;
}
.services .services-container .content .service-card .cd-title-line{
    width: 100px;
    height: 2px ;
    background-color: #2cabff00;
    margin-bottom: 10px;
}
.services .services-container .content .service-card .cd-txt{
    font-family: 'poppins' , sans-serif;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #09102D;
}
.services .services-container .content .service-card .cd-call-action{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.services .services-container .content .service-card .cd-call-action .cd-cta-txt{
    font-family: 'poppins' , sans-serif;
    font-weight: 500;
    margin-right: 7px;
    color: #09102D;
    text-decoration: none;
}
.services .services-container .content .service-card .cd-call-action .cd-cta-line{
    width: 35px;
    height: 3px ;
    background-color: #2cabff;
    transition: all 0.4s ease;
    text-decoration: none;
}
.services .services-container .content .service-card .cd-call-action:hover  .cd-cta-line{
    width: 70px;
    
}










/* ----------------------------------------------------------- works
-------------------------------------------------------------- works
-------------------------------------------------------------- */
/* works section styling */
.works{
    position: relative;
    width: 100%;
    max-height: 800px;
    max-width: 2000px;
    overflow: hidden;
    padding-top: 100px;
}
.works .works-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.works .works-container .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    width: 100%;
    
}
.works .works-container .header p{
    font-size: 1.9rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;

}
.works .works-container .header p span{
    font-size: 2rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #2cabff;
}
.works .works-container .content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 55px 0%;
    padding-bottom: 30px;
    overflow: hidden;
}
.works .works-container .content .work-boxs{
    display: flex;
    align-items: center;
    animation: workanimate 30s infinite ease;
}
.works .works-container .content .work-box{
    width: 400px;
    height: 470px;
    background-color: #2cabff4b;
    margin: 0px;
    border: 1px solid  rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}
.works .works-container .content .work-box img{
    width: 100%;
    height: 100%;
}
@keyframes workanimate {
    0%{
        transform: translateX(0px);
    }
    3%{
        transform: translateX(-400px);
    }
    20%{
        transform: translateX(-400px);
    }
    23%{
        transform: translateX(-800px);
    }
    40%{
        transform: translateX(-800px);
    }
    43%{
        transform: translateX(-1200px);
    }
    60%{
        transform: translateX(-1200px);
    }
    63%{
        transform: translateX(-800px);
    }
    80%{
        transform: translateX(-800px);
    }
    83%{
        transform: translateX(-400px);
    }
    98%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(-0px);
    }
}



